body {
    margin: 0;
    padding: 0;
}
.app {
    display: flex;
}
.textarea {
    flex: 0 0 auto;
    max-width: 100%;
    width: 50%;
    height: 100vh;
    resize: none;
}
.preview {
    flex: 0 0 auto;
    max-width: 100%;
    width: 50%;
    height: 100vh;
}